

<%= search_form_for @search, url: "/users/allofthem" do |f| %>
  <div class="field">
    <%= f.label :title_cont, "Title contains" %>
    <%= f.text_field :title_cont %>
  </div>
  <div class="actions"><%= f.submit "Filter" %></div>
<% end %>



<table class="table table-hover">
  <tr>
    <th><%= sort_link @search, :title, "Title" %></th>
    <th><%= sort_link @search, :sales, "Sales" %></th>
    <th>Address</th>
    <th>Descrption</th>
 
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.title, users_path(:search => user.latitude.to_s+","+user.longitude.to_s, :radius => 15), :target => '_blank' %></td>
    <td><%= user.sales %></td>
    <td><%= user.address %></td>
    <td><%= user.descrption %></td>
   
 
<!-- 
     
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
